body {
    background-color: rgb(232, 233, 240);
    padding: 50px;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    width: 200px;
}

.current-number {
    font-size: 20px;
}

#header {
    font-size: 36px;
}

#text-test {
    font-size: 14px;
}